@font-face {
  font-family: AmaryxLexis;
  src: url(../content/fonts/AmaryxLexis-Regular.ttf);
}

body {
  font-family: AmaryxLexis, serif;
  font-weight: 300;
  background: black;
  color: white;
  text-align: center;
}
